@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Time Manager Web App - ST10084795</h1>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-4">
        <h2>
            Welcome to the Time Manager Web Application
        </h2>
        <p>
            Add Semesters and Modules to calculate Self Study time
        </p>
    </div>
    <div class="col-md-4">
        <h2> Set Days for Study </h2>
        <p>
            Use the Set Study Day feature to record which days to study specific modules
    </div>
    <div class="col-md-4">
        <h2>
            GitHub
        </h2>
        <p>
            You can access and download source files for this site at from this online repository
        </p>
        <a class="btn btn-default"
           href="https://github.com/xBelling/ST10084795-Semester2">Link to GitHub</a>
    </div>
</div>